html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  


#jobsDB {
    vertical-align: top;
    border: 1px solid green;
    overflow-Y: scroll;
    height: 400px;
    width: 75%;
    display: inline-block;
    padding: 0;
  }



  .companyDiv{
    background: gray;
  }

  #filtersDB{
    vertical-align: top;
    border: 1px solid green;
    height: 400px;
    width: 15%;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 20px;
  }

  select{padding: 2px;}
  option{margin: 2px}


  .errorMsg{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

    animation: fade 0.5s 1;
    -webkit-animation: fade 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:6s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}
.okMsg{
    color: green;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

    animation: fade 0.5s 1;
    -webkit-animation: fade 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:6s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes  fade{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes  fade{
    from {opacity :1;}
    to {opacity :0;}
}
