
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  text-align: center
}

.header{
  background: #104f55;
  color: white;
  height: 80px;

}

.menu{
  height: 30px;
  width: 30px;
  border: 1px solid white;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 15px;
}

.title{
  height: 60px;
  font-weight: bold;
  font-size: 28pt;
  line-height: 60px;
  text-align: center;
  border: 1px solid white;
  font-family: 'Leckerli One',serif;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 60px;
  right: 60px;
}

.account{
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.subHeader{
  background: #d8d4d5;
  font-size: 12px;
  color: #595959;
}

.subHeader-close{
  float : right;
  padding-right: 15px;
  padding-top: 5px;
  cursor: pointer;
}

.subHeader-close:hover{
  font-weight: bold;
}