
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  text-align: center
}


h2{
  margin: 20px 0;
}

.header{
  background: #104f55;
  color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

#title{
  height: 60px;
  font-weight: bold;
  font-size: 28pt;
  line-height: 60px;
  text-align: center;
  font-family: 'Leckerli One',serif;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 60px;
  right: 60px;
}

.menu-link{
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
}

.notification-link{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.subHeader{
  background: #d8d4d5;
  font-size: 12px;
  color: #595959;
  margin-top: 80px;
  width:100%;
  position: fixed;
  z-index: 99;
}

.subHeader-close{
  float : right;
  padding-right: 15px;
  padding-top: 5px;
  cursor: pointer;
}

.subHeader-close:hover{
  font-weight: bold;
}

.app-body{
  padding-top: 120px;
}


.currency div:first-child{
  margin-top: 0px;
}

.currency{
  margin-bottom: 20px;

}

.currency-timestamp{
  font-size: 12px;
  font-style: italic;
  color: #595959;
}


.user{
  position: relative;
  width: 280px;
  height: 60px;
  margin: 10px auto;
}

.user-avatar{
  position: absolute;
  border: 1px solid white;
  top: 0px; left: 5px;
  height: 40px; width: 40px;
  text-align: center; line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  border-radius: 50%}

.user-connect-light{
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top:33px; left: 33px;
  height: 10px; width: 10px;
}

.user-name{
  margin-left: 60px;
  text-align: left
}

.userSocialLink{
  text-decoration: none;
  font-size: 14px;
  color: rgb(29, 51, 175);
  cursor: pointer; 
}

.userSocialLink:hover{
  text-decoration: underline;
}

.currency{
  text-align: center;
}

.buy-sell-link{
  font-size: 16px;
}

.buy-sell-link:hover{
  text-decoration: underline
}

.buy-sell-div{
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  margin: 10px 20%;
}

.buy-sell-text{
  padding: 0 0 15px 0;
}

.buy-sell-btn{
  width: 90px;
  padding: 2px;
  margin : 1px;
}

.buy-sell-close{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.buy-sell-close:hover{
  font-weight: bold;
}

.buy-sell-msg{
  margin-top: 10px;
}

.timeline-item{
  position: relative;
  width: 420px;
  height: 75px;
  margin: 10px auto;
}
.timeline-content{
  margin-left: 60px;
  text-align: left;
}
.timeline-votes{
  text-align: left;
  margin-left: 60px;
}

.timeline-timestamp{
  text-align: left;
  font-size: 12px;
  font-style: italic;
  color: #595959;
  margin-left: 60px;
}

.input-text {
  border-radius: 10%;
  width: 280px;
}

.input-checkbox{
  margin-left: -105px;
}

.input-checkbox-text{
  font-size: 12px;
}