<head>
    <!DOCTYPE html>
    <html>
    <head>
    
      <title>Jobs</title>
      <meta http-equiv="Cache-control" content="public">
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <link href='../css/style.css' rel='stylesheet'>
</head>
<body>
           
<h1>Jobs DB</h1>

<h3>Filtered DB (<a href="/">reset</a>)</h3>
<div id= "jobsDB">
    <%- JSON.stringify(jobs) %>
    </div>
</body>



