<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='../css/style.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/" method="POST" >
        <label for="name">Email</label>
        <input type="text" name="email"><br><br>
        <label for="password">Password</label>
        <input type="text" name="password"><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>